.container {
  width: 90%;
  max-width: 25rem;
  padding: 1.6rem 2.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 0.6rem;
}

.container p {
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.container input {
  width: 100%;
  height: 3.1rem;
  border: 1px solid #494eea;
  outline: 0;
  padding: 0.6rem;
  margin: 0.6rem 0 1.2rem;
  border-radius: 0.3rem;
}

.container button {
  width: 100%;
  height: 3.1rem;
  background: #494eea;
  color: #fff;
  border: 0;
  outline: 0;
  border-radius: 0.3rem;
  box-shadow: 0 0.6rem 0.6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin: 1.25rem 0;
  font-weight: 500;
}

canvas {
  display: none;
}