* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', Arial, sans-serif;
  box-sizing: border-box;
}

body {
  background: #262a2f;
}

button {
  transition: opacity 0.15s;
}

button:hover {
  opacity: 0.9;
}

button:active {
  opacity: 0.7;
}